<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiyanlou.lesson7.mapper.RankListMapper">
	<resultMap type="com.shiyanlou.lesson7.domain.RankList" id="RankListMap">
		<result column="sum_consume_energy" property="sumConsumeEnergy"/>
		<result column="user_id" property="userId"/>
	</resultMap>
	
	<select id="getAll" parameterType="java.sql.Date" resultMap="RankListMap">
		select 
	      sum(sport_time * consume_energy) as sum_consume_energy, user_id 
	    from 
	      user_sport_history u 
	    join 
	      sport s 
	    on 
	      u.sport_id = s.id
	    where collect_date = #{collectDate}
	    group by 
	      user_id
	    order by  sum_consume_energy desc;
	</select>
</mapper>